
<h4>Admin/List</h4>
<h2>Ürün Yönetim Ekranı</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product1</td>
            <td>Product1 description.</td>
            <td>550$</td>
            <td>
                <button class="btn btn-warning mr-1"><i class="bi bi-pencil-fill"></i> Edit</button>
                <button class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<small>[Bu sayfa tamamen örnek bir içerik göstermek amacıyla oluşturulmuştur.]</small>