@using LoginApp.Models
@model LoginModel

<div class="row">
    <div class="col-md-4 m-auto p-3 rounded border bg-light">
        <h3>Şifremi Unuttum </h3>
        <hr />
        <form asp-controller="Account" asp-action="ForgotPassword" method="POST">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-warning mb-3" role="alert">
                    @TempData["message"]
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" name="Email">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100 mb-1">Hesabımı Bul</button>
            </div>
        </form>
    </div>
</div>
