@using LoginApp.Models
@model ResetPasswordModel


<div class="row">
    <div class="col-md-4 m-auto p-3 rounded border bg-light">
        <h3>Şifreyi Yenile</h3>
        <hr />
        <form asp-controller="Account" asp-action="ResetPassword" method="POST">
            <input type="hidden" asp-for="Token" />
            @if (TempData["message"] != null)
            {
                <div class="alert alert-warning mb-3" role="alert">
                    @TempData["message"]
                </div>
            }
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100 mb-1">Kaydet</button>
            </div>
        </form>
    </div>
</div>
