
<h4>Home/Index</h4>
<h1>Hoşgeldiniz!</h1>
<div class="m-auto w-50">
    <img class="img-fluid" src="https://cdn.dribbble.com/users/51255/screenshots/12162885/media/a6ae5d917c84c0b3d391249dd990f4a8.gif" />
</div>
<small class="m-auto">[Bu sayfa tamamen örnek bir içerik göstermek amacıyla oluşturulmuştur.]</small>