
<h4>Home/List</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product1</td>
            <td>Product1 description.</td>
            <td>550$</td>
        </tr>
    </tbody>
</table>

<small>[Bu sayfa tamamen örnek bir içerik göstermek amacıyla oluşturulmuştur.]</small>